---
import { Icon } from "astro-icon/components";

const items = [
  {
    title: "Projects",
    menu: "projects"
  },
  {
    title: "Get Involved",
    path: "/get-involved"
  },
  {
    title: "Media",
    path: "/media"
  },
  {
    title: "Blog",
    menu: "blog"
  },
  {
    title: "About Us",
    path: "/about"
  },
  {
    title: "Contact Us",
    path: "/contact-us"
  }
]
---

<nav class="bg-rose-900 shadow" x-data="{ open: false }">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      
      <!-- FULL TOOLBAR -->
      <div class="flex w-full">

        <!-- LOGO -->
        <div class="flex flex-shrink-0 items-center">
          <p>Logo</p>
        </div>

        <!-- TOOLBAR MENU -->
        <div class="hidden md:ml-6 md:flex md:space-x-8 grow items-center">
          
          <!-- Menu Items -->
          {items.map((item) => (
            <div x-bind:class={`{'hidden': !${item.path}}`}>
              <a href={item.path} class="toolbar-item">{item.title}</a>
            </div>
            <div x-bind:class={`{'hidden': !${item.menu}}`}>
              <div class="toolbar-item flex items-center">
                <a href="#">{item.title}</a>
                <Icon name="solar:alt-arrow-down-bold" />
              </div>
            </div>
          ))}
        </div>

        <!-- DONATE BUTTON -->
        <div class="hidden md:ml-6 md:flex md:items-center">
          <button>Donate<button>
        </div>

      </div>

      
      <!-- MOBILE MENU TOGGLE -->
      <div class="-mr-2 flex items-center md:hidden">
        <button x-on:click="open = !open" type="button" class="mobile-menu" aria-controls="mobile-menu" aria-expanded="false">
          <Icon x-bind:class="open ? 'hidden' : ''" name="solar:hamburger-menu-linear" />
          <Icon x-bind:class="!open ? 'hidden' : ''" name="solar:close-circle-linear" />
        </button>
      </div>
    </div>
  </div>

  <!-- MOBILE MENU -->

  <!-- Mobile menu, show/hide based on menu state. -->
  <div x-bind:class="!open ? 'hidden' : 'block md:hidden'" id="mobile-menu">
    <div class="space-y-1 pb-3">
      <div class="md:hidden ml-6 flex space-y-4 grow flex-col items-start">
        {items.map((item) => (
          <div x-bind:class={`{'hidden': !${item.path}}`}>
            <a href={item.path} class="toolbar-item">{item.title}</a>
          </div>
          <div x-bind:class={`{'hidden': !${item.menu}}`}>
            <div class="toolbar-item flex items-center">
              <a href="#">{item.title}</a>
              <Icon name="solar:alt-arrow-down-bold" />
            </div>
          </div>
        ))}
      </div>
    </div>
    <div class="border-t-2 border-gray-200/20 pb-3 pt-4">
      <button>Donate</button>
    </div>
  </div>
</nav>

<style>
  .toolbar-item {
    @apply inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-100/80 hover:text-gray-100;
  }
  .toolbar-item-active {
    @apply text-gray-100;
  }

  .mobile-menu {
    @apply relative inline-flex items-center justify-center text-2xl p-1 rounded-lg text-gray-100/80 hover:text-gray-100;
  }
</style>