---
import { getCollection, getEntry } from "astro:content";
import { Icon } from "astro-icon/components";

const items = [
  {
    title: "Projects",
    menu: "projects"
  },
  {
    title: "Get Involved",
    path: "/get-involved"
  },
  {
    title: "Media",
    path: "/media"
  },
  {
    title: "Blog",
    menu: "blog"
  },
  {
    title: "About Us",
    path: "/about-us"
  },
  {
    title: "Contact Us",
    path: "/contact-us"
  }
];

const projects = await getCollection('projects', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
let blog = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

// Get the 4 most-recent blog posts
blog = blog.sort((a, b) => b.data.date - a.data.date).slice(0, 4);

const { data: { value:title } } = await getEntry('settings', 'organization-name');
---

<nav class="fixed top-0 left-0 z-40 w-full bg-gray-800 border-gray-200 dark:border-gray-600 dark:bg-gray-900" x-data="{ open: false, submenu: false, submenuItem: false }" x-on:click.outside="open=false; submenu = false">
  <div class="flex justify-between items-center mx-auto max-w-screen-lg p-1 md:py-2 md:px-4" x-bind:class="open ? 'flex-wrap' : 'flex-nowrap'">
      
    <!-- LOGO -->
    <a href="/">
      <img src="/images/logo.jpg" class="w-8 h-8 md:w-12 md:h-12 rounded-full" alt="Flowbite Logo" />
    </a>

    <!-- MOBILE TITLE -->
    <p class="text-gray-200 font-semibold block md:hidden order-0" x-bind:class="open && 'hidden'">{title}</p>

    <!-- MOBILE MENU TOGGLE -->
    <button type="button" class="inline-flex items-center p-1 w-10 h-10 justify-center md:hidden rounded-lg" x-on:click="open = !open; submenu = false">
      <Icon name="solar:hamburger-menu-linear" class="menu-toggle-button" x-bind:class="open && 'hidden'" />
      <Icon name="solar:close-circle-linear" class="menu-toggle-button" x-bind:class="!open && 'hidden'" />
    </button>

    <!-- MAIN TOOLBAR -->
    <div class="grow md:flex flex-col md:flex-row h-screen md:h-fit items-start md:items-center justify-between font-medium w-full md:w-auto md:order-1" x-bind:class="open ? 'flex' : 'hidden'">

      <!-- MENU ITEMS -->
      <ul class="text-lg md:text-base items-center w-full flex flex-col md:flex-row p-4 md:p-0 mt-4 space-y-4 md:space-y-0 md:space-x-4 lg:space-x-8 md:mt-0 md:border-0">

        <li class="grow"></li>

        {items.map((item) => (
          <li x-bind:class={`!${item.path} && 'hidden'`}>
            <a href={item.path} class="toolbar-item">{item.title}</a>
          </li>
          <li x-bind:class={`!${item.menu} && 'hidden'`}>
            <button class="flex items-center toolbar-item" x-on:click={`submenu = submenu && submenuItem === '${item.menu}' ? false : true; submenuItem = '${item.menu}'`}>
              {item.title}
              <Icon x-show={`submenu && submenuItem === '${item.menu}'`} name="solar:alt-arrow-up-bold" />
              <Icon x-show={`!submenu || submenuItem !== '${item.menu}'`} name="solar:alt-arrow-down-bold" />
            </button>
          </li>
        ))}

        <li class="grow"></li>

        <li>
          <a href="/donate" class="btn btn-amber">
            <Icon name="solar:dollar-minimalistic-bold" />
            <p>DONATE</p>
          </a>
        </li>

      </ul>

    </div>

  </div>

  <!-- DROPDOWN MENU -->
  <div x-show="submenu" class="fixed left-0 top-12 md:top-16 z-50 w-full h-full md:h-fit border-gray-200 shadow-md bg-white border-y">

    <!-- Projects Submenu -->
    <div x-show="submenuItem === 'projects'" class="submenu-grid md:grid-cols-3">
      {projects.map((p) => (
        <a href={`/projects/${p.slug}`}>
          <span>
            <p class='submenu-title'>{p.data.title}</p>
            <p class='submenu-description'>{p.data.description}</p>
          </span>
        </a>
      ))}
    </div>

    <!-- Blog Submenu -->
    <div x-show="submenuItem === 'blog'">
      <div class="submenu-grid">
        {blog.map((b) => (
          <a href={`/blog/${b.slug}`}>
            <span>
              <p class='submenu-title'>{b.data.title}</p>
              <div class='flex justify-between gap-x-4'>
                <p class='submenu-subtitle'>{new Date(b.data.date).toDateString()}</p>
                <p class='submenu-subtitle'>{b.data.author}</p>
              </div>
              <p class='submenu-description'>{b.data.description}</p>
            </span>
          </a>
        ))}
      </div>
      <div class="max-w-4xl mx-auto flex justify-end">
        <a href="/blog" class="my-4 mr-4 btn btn-gray">
          <p>More Posts</p>
          <Icon name="solar:alt-arrow-right-bold" />
        </a>
      </div>
    </div>

  </div>
</nav>

<style>
  .menu-toggle-button {
    @apply text-2xl text-gray-100/80 hover:text-gray-100;
  }
  .toolbar-item {
    @apply text-gray-100/80 hover:text-gray-100;
  }
  .submenu-grid {
    @apply grid gap-4 sm:grid-cols-2 max-w-4xl px-4 py-5 mx-auto text-gray-900;
  }
  .submenu-grid span {
    @apply block cursor-pointer h-full bg-gray-200/30 hover:bg-gray-200/80 border border-gray-300/40 rounded-lg py-2 px-4;
  }
  .submenu-title {
    @apply text-rose-800 font-semibold text-center;
  }
  .submenu-subtitle {
    @apply text-gray-700/80 font-semibold whitespace-nowrap;
  }
  .submenu-description {
    @apply text-gray-800/60;
  }
</style>